@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

body {
    display: flex;
    flex-direction: column;
    background-color: #0d1b2a;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    min-height: 100vh;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px;
}

.header-left {
    display: flex;
}
.header-left .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
}
.header-left .logo .logo-img {
    height: 100%;
}
.header-left .logo .logo-text {
    font-weight: 700;
    white-space: nowrap;
}

.header-center {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header-center .title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-right .gu-logo {
    height: 30px;
}
.header-right .gu-text {
    font-weight: 700;
    white-space: nowrap;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 20px 20px;
}

.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    width: 100%;
    max-width: 1600px;
    background-color: #1b263b;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    overflow: auto;
}

.gu-detail .tab-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.dong-detail .tab-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.tab {
    color: #fff;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid #0d1b2a;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.tab.active {
    opacity: 1;
    background-color: #0d1b2a;
}

.content {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    width: 100%;
    overflow: hidden;
}
.content.active {
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-ticket-tab-box,
.call-log-tab-box,
.work-average-tab-box {
    display: flex;
    align-items: center;
    gap: 5px;
}
.number-ticket-tab,
.call-log-tab,
.work-average-tab {
    color: #fff;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid #0d1b2a;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.number-ticket-tab.active,
.call-log-tab.active,
.work-average-tab.active {
    opacity: 1;
    background-color: #0d1b2a;
}

.mode {
    display: none;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}
.mode.active {
    display: flex;
}

.chart-wrap {
    width: 100%;
    overflow: auto;
}
.chart-wrap::-webkit-scrollbar {
    display: none;
}

.chart {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

.mode .table-wrap {
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
}
.mode .table-wrap::-webkit-scrollbar {
    display: none;
}
.mode table {
    width: 100%;
    font-size: 0.8rem;
    background-color: #415a7777;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed;
}
.dong-detail .mode#year table {
    max-width: 1200px;
    min-width: 800px;
}
.gu-detail .mode#year table {
    min-width: 1800px;
}
.dong-detail .mode#month table {
    min-width: 1400px;
}
.dong-detail .mode#month table thead tr td:not(:first-child) {
    width: 50px;
}
.gu-detail .mode#month table {
    min-width: 1800px;
}
.dong-detail .mode#day table {
    max-width: 1200px;
    min-width: 800px;
}
.gu-detail .mode#day table {
    min-width: 1600px;
}
.mode#amount table {
    max-width: 1200px;
    min-width: 800px;
}
.mode table thead {
    font-size: 0.9rem;
    font-weight: 700;
}
.mode table thead tr td,
.mode table tbody tr td,
.mode table tfoot tr td {
    padding: 8px;
}
.gu-detail .mode table thead tr td,
.gu-detail .mode table tbody tr td,
.gu-detail .mode table tfoot tr td {
    overflow: hidden;
    text-overflow: ellipsis;
}
.mode table tbody tr td:first-child,
.mode table tfoot tr td:first-child {
    font-size: 0.9rem;
    font-weight: 700;
}
.dong-detail .mode table thead tr td:first-child,
.dong-detail .mode table tbody tr td:first-child,
.dong-detail .mode table tfoot tr td:first-child {
    width: 150px;
}
.mode table thead tr td:not(:first-child),
.mode table tbody tr td:not(:first-child),
.mode table tfoot tr td:not(:first-child) {
    text-align: center;
}
.mode table thead tr td:nth-child(2n+2),
.mode table tbody tr td:nth-child(2n+2),
.mode table tfoot tr td:nth-child(2n+2) {
    background-color: #415a7788;
}
.dong-detail .mode table thead tr td:last-child,
.dong-detail .mode table tbody tr td:last-child,
.dong-detail .mode table tfoot tr td:last-child {
    border-left: 3px solid #1b263b;
}
/* .mode table thead {
    border-bottom: 3px solid #1b263b;
} */
.mode table tfoot {
    border-top: 3px solid #1b263b;
}

#time .time-log-wrap {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    max-width: 100%;
    height: 100%;
}

#time .time-log-wrap .swiper {
    flex-grow: 1;
    width: 100%;
}

#time .time-log-wrap .swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #ffffff33;
}

#time .time-log-wrap .swiper .swiper-wrapper .window {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #415a7777;
    border-radius: 10px;
    overflow: hidden;
}

#time .time-log-wrap .swiper .swiper-wrapper .window .time-log-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 10px;
}

#time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header {
    display: flex;
    padding: 5px;
    font-size: 0.8rem;
    background-color: #142133;
}

#time .time-log-wrap .swiper .swiper-wrapper .window .time-log {
    font-size: 0.8rem;
    max-height: 400px;
    overflow: auto;
}
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log::-webkit-scrollbar {
    width: 14px;
}
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log::-webkit-scrollbar-track {
    background-color: #00000022;
    border-radius: 14px;
    background-clip: padding-box;
    border: 5px solid transparent;
}
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    background-clip: padding-box;
    border: 5px solid transparent;
}

#time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log {
    display: flex;
    align-items: center;
    padding: 7px 5px;
}
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log:nth-child(even) {
    background-color: #415a7788;
}

#time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header > div,
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log > div {
    text-align: center;
}

#time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header > div:first-child,
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log > div:first-child {
    width: 120px;
}
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header > div:nth-child(2),
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log > div:nth-child(2) {
    width: 120px;
}
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header > div:nth-child(3),
#time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log > div:nth-child(3) {
    width: 80px;
}

@media screen and (max-width: 1200px) {
    .header-center .title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    header {
        flex-wrap: wrap;
        padding: 10px;
    }

    .header-center {
        flex-grow: 1;
        min-width: 100%;
        order: 1;
    }

    .main {
        padding: 10px;
    }

    .app {
        padding: 10px;
    }

    .mode table thead {
        font-size: 0.8rem;
    }
    .mode table thead tr td,
    .mode table tbody tr td,
    .mode table tfoot tr td {
        padding: 6px;
    }
    .mode table tbody tr td:first-child,
    .mode table tfoot tr td:first-child {
        font-size: 0.8rem;
    }

    #time .time-log-wrap .swiper .swiper-wrapper .window .time-log-title {
        font-size: 1rem;
    }
    
    #time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header > div:first-child,
    #time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log > div:first-child {
        width: 100px;
    }
    #time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header > div:nth-child(2),
    #time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log > div:nth-child(2) {
        width: 100px;
    }
    #time .time-log-wrap .swiper .swiper-wrapper .window .time-log-header > div:nth-child(3),
    #time .time-log-wrap .swiper .swiper-wrapper .window .time-log .log > div:nth-child(3) {
        width: 60px;
    }
}

@media screen and (max-width: 450px) {
    .header-left .logo .logo-text {
        display: none;
    }

    .header-center .title {
        font-size: 1.2rem;
        line-height: 1.4;
        text-align: center;
        white-space: normal;
        word-break: keep-all;
    }
    .header-center .time {
        font-size: 0.8rem;
    }

    .header-right .gu-text {
        display: none;
    }
}